/*
Colores
  dark-purple: hsl(300, 43%, 22%)
  pink:hsl(333, 80%, 67%)
  purple: hsl(303, 10%, 53%)
  soft-white: hsl(300, 24%, 96%)
  background-color: hsl(0, 0%, 90%);

Fuente de la página
  https://fonts.google.com/specimen/Karla
  Estilos 200 y 400
*/

* {
  box-sizing: border-box;
}

body {
  width: 1400px;
  margin: 5em auto;
  background-color: hsl(0, 0%, 90%);
  font-family: 'Karla', sans-serif;
  
}

.bg-img{
  position: absolute;
  z-index: -1;
}

.bg-img--top{
  top: 0;
  left: 0;
}

.bg-img--bot{
  bottom: 0;
  right: 0;
}

.header,
.aside{
  display: inline-block;
  width: 450px;
}

.header{
  margin-right: 400px;
  margin-bottom: 5em;
}

.main-title{
  font-size: 3rem;
  color:hsl(300, 43%, 22%) ;
}

.main-subtitle{
  color:hsl(303, 10%, 53%) ;
}

.rate{
  position: relative;
  margin-bottom: 1em;
  padding: 0 2em;
  border-radius: 10px;
  line-height: 5;
  /* cuando queremos engrosar un elemento de linea usamos line-height: x  */
  background-color:hsl(300, 24%, 96%) ;
}

.rate__star{
  vertical-align: middle;
  /* cuando queremos centrar elementos de linea de manera vertical usamos vertical-align: middle (no center) */
}

.rate--first{
  left: 75px;
}

.rate--second{
  left: 50px;
}

.rate__text{
  margin-left: 1em;
  color: hsl(303, 10%, 53%);
}

.testimonial{
  position: relative;
  display: inline-block;
  width: 400px;
  margin-right:50px;
  padding: 2em 2.5em;
  border-radius: 10px;
  color:hsl(300, 24%, 96%) ; 
  background-color: hsl(300, 43%, 22%);
}

.testimonial--second{
  top: 50px;
}

.testimonial--third{
  top: 75px;
}

.user{
  width: 250px;

}

.user__image{
  border-radius: 50%;
  max-width: 25%;
}

.user__image,
.user__info{
  display: inline-block;
  vertical-align: middle;
  /* al declarar inline-block, hacemos que su ancho y alto sea su contenido (como una linea, los elementos de linea su altura solo lo determina su contenido, en cambio su ancho puede ser establecido, al colocarse 2 elementos de linea, se colocan de manera colindante, por eso al establecer 2 elementos con display inline-block hacemos que sean colindantes como si fueran 2 elementos de linea, pero con sus respectivas propiedades de bloque como establecer el alto)*/
}

.user__name,
.user__category{
  margin: 0.5em 1em;
}

.user__category{
  color: hsl(333, 80%, 67%);
}


